* {
    box-sizing: border-box;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

textarea {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 5px;
    border: beige;
    border-style: ridge;
    border-width: 5px;
}

.container {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 5px;
}

.special {
    float: left;
    width: 25%;
}

.number {
    float: left;
    width: 25%;
}

.lower {
    float: left;
    width: 25%;
}

.upper {
    float: left;
    width: 25%;
}