* {
    box-sizing: border-box;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

textarea {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    border: beige;
    border-style: ridge;
    border-width: 5px;
}

.container {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    font-size: 20px;
    margin-top: 5px;
}


/*style for the directions*/

.form-text {
    font-size: 18px;
    margin-top: -10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*checkboxes*/

.special {
    float: left;
    width: 24%;
}

.number {
    float: left;
    width: 24%;
}

.lower {
    float: left;
    width: 24%;
}

.upper {
    float: left;
    width: 24%;
}

.button {
    text-align: center;
    padding-bottom: 8px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
}